body {
    background-color: rgb(250, 250, 250);
}

.container {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-direction: row ;
}

.left-content {
    flex-direction: column;
}

.right-content {
    
}
